@import url('./reset.css');
  
body{
    background-color: #292A32 ;
    color: #ffffff;
    font-family: "exoReg";
}
  
@font-face {
    font-family: "exoMedium";
    src: url(./assets/fonts/Exo2-Medium.ttf);
}

@font-face {
    font-family: "exoReg";
    src: url(./assets/fonts/Exo2-Regular.ttf);
}

@font-face {
    font-family: "exoBold";
    src: url(./assets/fonts/Exo2-Bold.ttf);
}